#FenInDiv {
    position: relative;
    left: 60px;
}

#fenIn {
    width: 550px;
    left: 60px;
}

section {
    margin: 300px;
}

h1 {
    margin: 20px;
}

#logo {
  width: 60px;
  margin: 10px;
}

#large-button{
  margin: 360px 210px;
}

.piece{
  position: relative;
  height: 65px;
  width: 65px;
  cursor: pointer;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  border-style: dashed;
}

.invisible {
  display: none;
}

#chess-board .chess-row .dark{
  background: #51390b;
}

#chess-board .chess-row .light{
  background: #efd9c1;
}
 
#chess-board .chess-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  text-align: center;
  font-size: 50px;
}

#chess-board {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, 1fr);
  position: absolute;
  top: 200px;
}
