#FenInDiv {
    position: relative;
    width: 50%;
    margin: auto;
    align-content: center;
}

#SetFen {
  margin-left: 50%;
}

#help {
  text-align: center;
}

#help img{
  margin: auto;
  margin-top: 100px;
}

.player {
  background-color: white !important;
  color: black !important;
  border: 0.5px solid black;
}

section {
    margin: auto;
}

h1 {
    margin: 20px;
}

h2 {
  text-align: center;
}

div.puzzle-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr;

}

.puzzle-row h2 {
  grid-column-start: 2;
}

div.puzzle-container {
  grid-row-start: 2;
  margin: auto;
  display: grid;
}

.puzzle-container img {
  height: 30rem;
}

.puzzle-container .btn-small {
  margin: auto;
  margin-top: 1rem;
}

#logo {
  width: 50px;
  margin: 10px;
}

#large-button{
  margin: 360px 210px;
}

.piece{
  cursor: pointer;
}

.invisible {
  display: none;
}

.selected {
  box-shadow: 0px 0px 3px 0.2rem #006064;
  z-index: 1;
}

#chess-board .chess-row .dark{
  background: #0097a7;
}

#chess-board .chess-row .light{
  background: #b2ebf2;
}
 
#chess-board .chess-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  text-align: center;
  font-size: 50px;
}

#chess-board {
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, 1fr);
  grid-column-start: 2;
  margin-top: 100px;
}

#EngineOutput {
  grid-column-start: 3;
}

#container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  width: 100%;
}

html,body {
  height: 100%;
}