section {
    margin: 300px;
}

h1 {
    margin: 20px;
}

label {
    margin: 30px;
}

#chess-board .chess-row .dark{
  background: #51390b;
}

#chess-board .chess-row .light{
  background: #efd9c1;
}

#chess-board .chess-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  text-align: center;
  font-size: 50px;
}

#chess-board {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, 1fr);
  position: absolute;
  top: 200px;
}
